.header__logo {
  max-width: 142px;
  min-width: 103.74px;
  height: auto;
  margin-top: 45px;
}

@media screen and (max-width: 425px){
  .header__logo {
    margin-top: 28px;
    margin-left: 27px;
  }
}